%p#notice= notice

%p
  %b Amount:
  = @publication.amount
%p
  %b Currency:
  = @publication.currency
%p
  %b Expires in:
  = @publication.expires_at == -1 ? 'Expired' : "#{@publication.expires_at} #{t('views.shared.days')}"

= link_to 'Edit', edit_publication_path(@publication)
\|
= link_to 'Back', publications_path
